@use "variables" as v;

.bebidas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 5vh;
    margin: 50px;

    .imgbebidas {
        height: 30vh;
        width: auto;
        padding: 2px;
        margin: 10px;

    }

    img:hover {
        animation: scale 2s forwards;
    }

    @include v.tablet {

        .bebidas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;
            text-align: center;


        }

        .imgbebidas {
            height: 30vh;
            width: auto;
            padding: 2px;
            margin: 10px;

        }

    }

    @include v.mobile {
        .bebidas {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;
            text-align: center;


        }

        .imgbebidas {
            height: 30vh;
            width: auto;
            padding: 2px;
            margin: 10px;

        }

    }
}


@keyframes scale {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.3;
    }
}