@use "variables" as v;

.reserva {
    margin: 30px;
}

.mapa {
    margin: 30px;
}

@include v.tablet {
    .reserva {
        margin: 30px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mapa {

        margin: 30px 0px 30px 80px;
    }

    .h3contacto {
        text-align: center;
        margin: 20px;
    }

    @include v.mobile{
        .reserva {
    margin: 30px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mapa {
    
    margin: 30px 80px 30px 80px ;
}

.imgmapa{
    height: auto;
    width: 70vw;
}
.h3contacto{
    text-align: center;
    margin: 20px;
}

}
}