@use "variables" as v;

.header {
    background-color: v.$VerdeOscuro;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 13vh;
        margin: 10px;
    }

    .ul {
        padding: 20px;
        width: 50vh;
        list-style: none;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            font-weight: 600;
            color: v.$Rojo;
        }
    }

}