@use "variables" as v;

.divprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    #carouselExample {

        width: 80vh;
        margin: 40px;
    }

    @include v.tablet {
        .header {
            display: flex;
            justify-content: space-between;
        }

        .h1 {
            font-size: 30px;
        }

        .logo {
            height: 13vh;
            margin: 10px;
        }

        .ul {
            padding: 10px;
            width: 15vh;
            list-style: none;
            display: flex;
            flex-direction: column;

        }
    }

    @include v.mobile {
        .body {
            width: 100vh;
        }

        .maininicio {
            display: flex;
            flex-direction: column;
        }

        .h2 {
            font-size: 20px;
        }

        .video {
            margin: 30px 0px 50px 50px;
            width: 60vh;
        }
    }
}