@use "variables" as v;

.divnosotros {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 30px;

    .panosotros {
        text-align: center;
        width: 50vh;
        margin: 0px 0px 0px 80px;
    }

    img {
        height: 50vh;
        width: auto;
    }

    @include v.tablet {
        .divnosotros {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;
            margin: 30px;

        }

        .panosotros {
            text-align: center;
            width: 50vh;
            margin: 20px 0px 0px 0px;
        }

        .imgnosotros {
            height: 40vh;
            width: 45vh;

        }
    }

    @include v.mobile {
        .divnosotros {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;
            margin: 30px;

        }

        .panosotros {
            text-align: center;
            width: 70vh;
            margin: 20px 0px 0px 0px;
        }

        .imgnosotros {
            height: auto;
            width: 70vh;

        }
    }

}