@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playwrite NZ Basic;
}

body {
  background-color: #b4ff9a;
}

.h1 {
  font-size: 40px;
  color: red;
}

.h2 {
  color: red;
  text-align: center;
  margin: 10px;
}

.h3 {
  color: red;
}

.header {
  background-color: #258d19;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  height: 13vh;
  margin: 10px;
}
.header .ul {
  padding: 20px;
  width: 50vh;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.header .ul a {
  text-decoration: none;
  font-weight: 600;
  color: red;
}

.footer {
  display: flex;
  flex-flow: column;
  justify-content: start;
}
.footer .ulfooter {
  width: 40vh;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer .ulfooter .imgfooter {
  height: 8vh;
}
.footer .ulfooter .wa {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.divprincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.divprincipal #carouselExample {
  width: 80vh;
  margin: 40px;
}
@media (min-width: 451px) and (max-width: 800px) {
  .divprincipal .header {
    display: flex;
    justify-content: space-between;
  }
  .divprincipal .h1 {
    font-size: 30px;
  }
  .divprincipal .logo {
    height: 13vh;
    margin: 10px;
  }
  .divprincipal .ul {
    padding: 10px;
    width: 15vh;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

.divmenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}
.divmenu .imgmenu {
  height: 30vh;
  width: 40vh;
  padding: 2px;
  margin: 30px;
}
.divmenu .sectmenu {
  margin: 30px;
}
.divmenu .pamenu {
  width: 40vh;
  text-align: center;
  padding: 0px 0px 10px 30px;
}
@media (min-width: 451px) and (max-width: 800px) {
  .divmenu .header {
    display: flex;
    justify-content: space-between;
  }
  .divmenu .h1 {
    font-size: 30px;
  }
  .divmenu .logo {
    height: 13vh;
    margin: 10px;
  }
  .divmenu .ul {
    padding: 10px;
    width: 15vh;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

.bebidas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 5vh;
  margin: 50px;
}
.bebidas .imgbebidas {
  height: 30vh;
  width: auto;
  padding: 2px;
  margin: 10px;
}
@media (min-width: 451px) and (max-width: 800px) {
  .bebidas .header {
    display: flex;
    justify-content: space-between;
  }
  .bebidas .h1 {
    font-size: 30px;
  }
  .bebidas .logo {
    height: 13vh;
    margin: 10px;
  }
  .bebidas .ul {
    padding: 10px;
    width: 15vh;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

.divnosotros {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 30px;
}
.divnosotros .panosotros {
  text-align: center;
  width: 50vh;
  margin: 0px 0px 0px 80px;
}
.divnosotros img {
  height: 50vh;
  width: auto;
}
@media (min-width: 451px) and (max-width: 800px) {
  .divnosotros .header {
    display: flex;
    justify-content: space-between;
  }
  .divnosotros .h1 {
    font-size: 30px;
  }
  .divnosotros .logo {
    height: 13vh;
    margin: 10px;
  }
  .divnosotros .ul {
    padding: 10px;
    width: 15vh;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

.reserva {
  margin: 30px;
}

.mapa {
  margin: 30px;
}

@media (min-width: 451px) and (max-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .h1 {
    font-size: 30px;
  }
  .logo {
    height: 13vh;
    margin: 10px;
  }
  .ul {
    padding: 10px;
    width: 15vh;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
